services:
  postgres:
    image: postgres:16
    restart: always
    environment:
      - POSTGRES_DB=${env.DATABASE_NAME}
      - POSTGRES_USER=${env.DATABASE_USER}
      - POSTGRES_PASSWORD=${env.DATABASE_PASSWORD}
    ports:
      - '5434:5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres -d postgres']
      interval: 5s
      timeout: 2s
      retries: 20
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: postgres -c listen_addresses='*'
    logging:
      options:
        max-size: '10m'
        max-file: '3'
  redis:
    image: redis:latest
    restart: always
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
volumes:
  redis_data:
  postgres_data: